:root{
--text: #221207;
--background: #FBF2EA;
--primary: #6D3A17;
--primary_mod: rgba(174, 98, 46, 0.8);
--secondary: #87E481;
--secondary-mod: rgba(135, 228, 129, 0.5);
--accent: #26B56E;
--accent_mod: rgba(38, 181, 110, 0.7);
}