section.secao_3 .bg-Estilo__containerPrincipalMarcasArea{
    background-color: rgba(109, 58, 23, 0.25);
    width: 100%;
    height: auto;
}

section.secao_3 .containerPrincipalMarcasArea{
    text-align: center;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 13px 0px;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 19px 14px;
    background-color: var(--primary);
    border: solid #000 0.3px;
    border-radius: 5px;
    width: 156px;
    height: 252px;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo .containerLogoMarca{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo .containerLogoMarca img{
    transform: scale(0.8);
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo .containerImpactoResultado{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid var(--accent) 3px;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo .containerImpactoResultado .containerTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 71px;
    text-align: left;
    color: #F9F7F7;
}

section.secao_3 .containerPrincipalMarcasArea .containerMarcasArea .marcaImpactadaExemplo .containerImpactoResultado .containerTexto p{
    font-size: 13px;
    font-weight: 400;
}
