section.secao_2 .containerTextoTitulo{
    text-align: center;
}

section.secao_2 .demacacao__secao_2{
    height: 507px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.secao_2 .containerImage__Gabriel_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

section.secao_2 .containerImage__Gabriel_2 img{
    transform: scale(1.2);
}

section.secao_2 .containerComoImpactar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 10vw;
}

section.secao_2 .containerComoImpactar .containerTextoSubtitulo{
    font-size: 22px;
    text-align: center;
    margin-bottom: 2vh;
}

section.secao_2 .containerComoImpactar .bg-Estilo__ListaDeAjudas{
    background-color: var(--primary_mod);
    border-radius: 5px;
}

section.secao_2 .containerComoImpactar .containerTexto__ListaDeAjudas .ListasDeAjuda{
    width: 433px;
    height: 220px;
    margin: 15px;
}

section.secao_2 .containerComoImpactar .containerTexto__ListaDeAjudas .ListasDeAjuda li{
    font-size: 20px;
    font-weight: 500;
}
