section.secao_1{
    background-color: aqua;
}

section.secao_2{
    background-color: brown;
}

section.secao_3{
    background-color: blue;
}

section.secao_4{
    background-color: darkred;
}

section.secao_5{
    background-color: fuchsia;
}

section.secao_6{
    background-color: limegreen;
} 